{% extends "base_navbar.html"%}
{% block content %}
{% for photo in Photos %}
<div id="{{photo.id}}" class="card text-white bg-secondary mb-3 container" style="max-width: 400px;">
    <div class="card-header"><a href="{% url 'profile' profile_id=photo.profile.id %}" class="text-white bg-dark">
        {{photo.profile.username}} </a>
    </div>
    <img class="card-img-top" src="{{photo.photo.url}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{photo.text}}</h5>
        <p class="card-text">{{photo.date}}</p>
    </div>
    <div id="like{{photo.id}}">
        <button data-catid="{{photo.id}}" class="btn btn-success like-btn" name="like"> like</button>
        <span>{{photo.likes}}</span>
    </div>
    <div id="unlike{{photo.id}}">
        <button data-catid="{{photo.id}}" class="btn btn-danger dislike-btn " name="unlike"> unlike</button>
        <span>{{photo.unlikes}}</span>
    </div>
</div>
{% endfor %}
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
{% csrf_token %}
{% load static %}
<script src="{% static 'likes.js' %}"></script>


{% endblock %}